$lt-gray: #ddd;
$background-dark: #e3d9cf;
$background-light: #f3ebe6;
$background-pale: #e3d9cf;

// Height variables
$carousel-item-height: 350px;

@mixin zero-margin($pad-up-dn, $pad-left-right) {
	margin:0px auto;
	padding: $pad-up-dn $pad-left-right;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.navbar-light {
    background-color: $background-dark;
}

nav {
    padding-top: 20px;
}

.nav-categories {
    flex: auto;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.nav-icons {
    flex: auto;
    flex-wrap: nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;

    .a {
        text-decoration: none;
        background-color: darkgray;
    }
}

.jumbotron {
    // @include zero-margin(120px,30px);
    margin: 0px auto;
    padding: 150px 30px 50px 30px;
    background: $background-light;
}

.row-header{
    @include zero-margin(0px,0px);
}

.row-content {
    @include zero-margin(50px, 0px);
    border-bottom: 1px ridge;
    min-height: 400px;
}

.carousel {
    background: $background-light;

    .carousel-item {
        height: $carousel-item-height;
        img {
            position: absolute;
            top: 0;
            left: 0;
            min-height: $carousel-item-height;
        }
    }
}

.footer{
    background-color: $background-pale;
    @include zero-margin(20px, 0px);
}

.extraClass{ 
    font-size:30px; 
}