<!DOCTYPE html>
<html lang="en">
<head>
    <title>Artwork Galleria</title>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap-social/bootstrap-social.css">
    <link href="../css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    
    <!-- Scripts -->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/js-cookie/src/js.cookie.js"></script>
    <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script> 
        $(function(){
            $("#nav").load("./components/nav.html"); 
            $("#footer").load("./components/footer.html"); 
            // $("#pagination").load("./components/pagination.html");
        });
    </script>
</head>
<body>
    
    <div id="nav"></div>

    <header class="jumbotron">
        <div class="container">
            <div class="row row-header justify-content-center">
                <h2 id="product_category"></h2>
            </div>
        </div>
    </header>

    <div class="container">

        <div id="rows"></div>

        <div id="pagination"></div>

    </div>

    <div id="footer"></div>

    <!-- Scripts -->
    <script src="../js/products.js"></script>
</body>
</html>