<footer class="footer">
    <div class="container">
        <div class="row">             
            <div class="col-4 offset-1 col-sm-2">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./aboutus.html">About</a></li>
                    <li><a href="./contactus.html">Contact</a></li>
                </ul>
            </div>
            <div class="col-7 col-sm-5">
                <h5>Our Address</h5>
                <address>
                  Address goes here<br>
                  Kolkata, West Bengal<br>
                  INDIA<br>
                  <i class="fa fa-phone fa-lg"></i> : +910000000000<br>
                  <i class="fa fa-envelope fa-sm"></i> :  
                  <a href="mailto:example@email.com">example@email.com</a>
               </address>
            </div>
            <div class="col-12 col-sm-4 align-self-center">
                <div class="d-flex justify-content-center">
                    <a class="nav-link" href="http://facebook.com"><i class="fa fa-facebook extraClass"></i></a>
                    <a class="nav-link" href="http://facebook.com"><i class="fa fa-instagram extraClass"></i></a>
                    <a class="nav-link" href="http://facebook.com"><i class="fa fa-pinterest extraClass"></i></a>
                </div>
            </div>
       </div>
       <div class="row justify-content-center">             
            <div class="col-auto">
                <p>© Copyright 2020 Artwork Galleria</p>
            </div>
       </div>
    </div>
</footer>