<nav class="navbar-light navbar-expand-sm fixed-top">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col col-sm align-self-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="col col-sm align-self-center text-center">
                <a class="navbar-brand mr-auto" href="./index.html"><img src="../img/logo.png" height="40" width="180"></a>
            </div>
            <div class="col col-sm align-self-center">
                <div class="float-right">
                    <ul class="navbar-nav d-flex">
                        <li class="nav-item d-none d-sm-inline"><a class="nav-link" href="#"><span class="fa fa-user fa-lg"></span></a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-search fa-lg"></span></a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-heart fa-lg"></span></a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-shopping-cart fa-lg"></span></a></li>
                    </ul>   
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col align-self-center collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav nav-categories">
                    <li class="nav-item"><a class="nav-link" href="#">Category 1</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Category 2</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Category 3</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Category 4</a></li>
                </ul>
            </div>
        </div>

    </div>
</nav>